p{
    color: green;
    font-size: 18px;
}
h1{
    color: red;
    font-size: 42px;
    text-align: center;
}
body{
    background-color: rgb(12, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    background-color: rgb(61, 146, 146);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

}
.info{
    color: blue;
}
#varovani{
    color: red;
}
