
body {
    margin: 0;
    padding: 0;
}
.wrap {
    margin: 16px;
}

.panel {
    width: 400px;
    height: 400px;
    background: blue;
    margin-bottom: 16px;
    border-width: 10px;
    border-style: solid;
    border-color: tomato;
}

.wierd {
    width: 400px;
    height: 400px;
    background: brown;
    margin-bottom: 16px;
    border-width: 10px;
    border-left-style: dashed;
    border-right-style: dashed;
    border-top-style: dotted;
    border-bottom-style: double;
}

.card {
    width: 400px;
    height: 400px;
    background: yellow;
    margin-bottom: 16px;
    border: 5px solid blue;
}
